<div class="center hero-unit">
   <h3>Spider App</h3>

   <input type="text" id="txt_state" data-provide="typeahead" value="Type an address">
   <!-- %= link_to "Sign up now!", '#', class: "btn btn-large btn-primary" % -->

</div>
