<div class="center hero-unit">
	<h2>Edit Element</h2>

    <div class="row">
    	<div class="span6 offset3">
			<%= render partial: "form", locals: { type_set: @type_set, type_element: @type_element, button_label: "Update Element"} %>
	    </div>
    </div>
    <div class="row">
        <%= link_to "Back", type_sets_path %>
    </div>
</div>