<div class="center hero-unit">
	<h2>Type Details</h2>

    <div class="row">
    	<div class="span6 offset3">
			<%= render partial: "form", locals: { type_set: @type_set, button_label: nil} %>
	    </div>
    </div>

    <div class="row">
      	<P>Elements</p>
	   	<%= render @type_set.type_elements %>
    </div>
    <%= link_to "Back", type_sets_path %>
</div>